html(lang="ru")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="css/style.min.css")
    body
        h1 Head
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, animi commodi delectus dolorum facilis iste laboriosam magni maxime, officia perspiciatis placeat quae quas quibusdam repellat sit suscipit unde veniam?
        script(src="js/main.min.js")